
<h1>This is the profile of <%= @contact.name %> </h1>


<form action="/contacts/<%= @contact.id %>/profile" method="POST">
  <input type="text" name="number_id">
  <input type="submit" value="Add a number">
</form>
 
 

<ul>
	
	<li> 
		hier sollen die nummern stehen!!!
		</li>
	
	</ul>

